@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background-color: #010c15;
	font-family: "Fira Code", monospace;
	margin: 20px;
	cursor: default;
}
@media screen and (min-width: 1848px) {
	body {
		max-width: 1800px;
		margin: 20px auto;
	}
}
@media screen and (max-width: 1024px) {
	body {
		margin: 10px;
	}
}
@media screen and (max-width: 425px) {
	body {
		margin: 0;
	}
}

/******** MAIN PAGE STYLES *********/
/* For a radial gradient */
.gradient-background-emerlad {
	transform: rotate(25deg);
	background-image: radial-gradient(
		closest-side at 230px 200px,
		#43d9ad -100%,
		transparent 100%
	);
}

.gradient-background-indigo {
	transform: rotate(20deg);
	background-image: radial-gradient(
		closest-side at 240px 260px,
		#4d5bce -100%,
		transparent 100%
	);
}

@media screen and (max-width: 640px) {
	.gradient-background-emerlad {
		transform: rotate(0deg);
		background-image: radial-gradient(
			closest-side at 200px 190px,
			#43d9ad -100%,
			transparent 100%
		);
	}
	.gradient-background-indigo {
		transform: rotate(0deg);
		background-image: radial-gradient(
			closest-side at 200px 190px,
			#4d5bce -100%,
			transparent 100%
		);
	}
}

@media screen and (max-width: 400px) {
	.gradient-background-emerlad {
		transform: rotate(0deg);
		background-image: radial-gradient(
			closest-side at 140px 150px,
			#43d9ad -100%,
			transparent 100%
		);
	}
	.gradient-background-indigo {
		transform: rotate(0deg);
		background-image: radial-gradient(
			closest-side at 160px 140px,
			#4d5bce -100%,
			transparent 100%
		);
	}
}

/*************** Code Snippet Styles **************/
.snippet-wrapper {
	display: flex;
	align-items: center;
	height: 100vh;
	margin-bottom: 2rem;
}

.snippet-wrapper .snippet-card {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	animation: animate 15s linear infinite;
	animation-delay: calc(3s * var(--delay));
}

.snippet-wrapper:hover .snippet-card {
	animation-play-state: paused;
}

.snippet-wrapper .snippet-card:last-child {
	animation-delay: calc(-3s);
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: translateY(180%) scale(0.5);
	}
	5%,
	20% {
		opacity: 0.4;
		transform: translateY(105%) scale(0.7);
	}
	25%,
	40% {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(0) scale(1);
	}
	45%,
	60% {
		opacity: 0.4;
		transform: translateY(-100%) scale(0.7);
	}
	65%,
	100% {
		opacity: 0;
		transform: translateY(-170%) scale(0.5);
	}
}

/************ AboutIcons.css **************/
.about-icon {
	transition: opacity 0.3s ease-in-out; /* Add a transition for smooth animation */
}
.about-icon:hover {
	opacity: 1;
	cursor: pointer;
}

/************ Animate Images in About page **************/
.carousel-container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 1rem;
	gap: 1rem;
	animation: scrollAnimation 8s linear infinite; /* Change the time here based on the number of carousel items to change the speed of animation */
}

@keyframes scrollAnimation {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(-50%);
	}
}

/* ACCORDION SCROLL DOWN AND UP ANIMATION STYLES */
.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.6s ease-in-out;
}

/* Styles for when the accordion is open */
.accordion-content.open {
	max-height: 300px; /* Adjust the height according to your content */
	transition: max-height 0.6s ease-in-out;
}

/* NAVBAR SCROLL DOWN AND UP ANIMATION STYLES */
.nav-open {
	max-height: 1000px;
	transition: max-height 0.6s ease-in-out;
	overflow: hidden;
}
.nav-closed {
	max-height: 40px;
	transition: max-height 0.6s ease-in-out;
	overflow: hidden;
}
